@import 'mixins';

body {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  font-family: Helvetica, sans-serif;
}


$base-color-1: #e97590; 
$base-color-2: #6b8fe9;
$base-color-3: #59b885;



.container {
  display: inline-flex;
  gap: 4px;
}

// extiende a todos los containers las propiedades de container
$i: 1;
@while $i <= 3 {
  .container-#{$i} {
    @extend .container;
  }
  $i: $i + 1;
}


.box {
  display: flex;
  align-items: center;
  height: 60px;
  width:fit-content;
  padding: 8px;
  border-radius: 4px;
}


.container-1 { 
  .base-color {
    background-color: $base-color-1;
  };
  @include darken-effect($base-color-1);
  @include lighten-effect($base-color-1);
};

.container-2 { 
  .base-color {
    background-color: $base-color-2;
  };
  @include darken-effect($base-color-2);
  @include lighten-effect($base-color-2);
};

.container-3 { 
  .base-color {
    background-color: $base-color-3;
  };
  @include darken-effect($base-color-3);
  @include lighten-effect($base-color-3);
};

/*
@include darken-effect($base-color-2);
@include lighten-effect($base-color-2);
@include darken-effect($base-color-3);
@include lighten-effect($base-color-3);
*/


/*

@for $i from 1 to 3 {
  $number: $i;
  @include darken-effect($base-color-($number));
  @include lighten-effect($base-color-($number));
}

*/

/* @mixin containerColors($numberOfContainers) {
  $i: 1;
  @while $i <= $numberOfContainers {
    .base-color {
      background-color: $base-color-#{$i};
    };
    @include darken-effect($base-color-#{$i});
    @include lighten-effect($base-color-#{$i});
    $i: $i + 1;
  } 
}

@include containerColors(3);
 */